@import 'styles';

.root {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}

.flag {
    max-width: 500px;
    margin-right: 35px;

    @media (max-width: $breakpoint-sm) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

}

.info {
    flex: 1 1 auto;
    text-align: left;
}

.name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 18px;
}

.stats {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
    }

    @media (max-width: $breakpoint-sm) {
        flex-direction: row;
    }

    @media (max-width: $breakpoint-xs) {
        flex-direction: column;
    }

    &_col {
        flex: 1 1 auto;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 350px;
        min-width: 150px;
    }

    &_row {
        margin-bottom: 6px;
    }
}

.description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.value {
    display: inline;
    font-weight: 400;

    &BorderCountries {
        line-height: 40px;
    }
}

.button {
    &BorderCountry {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        color: black;
        font-size: 18px;
        line-height: 40px;
        padding: 0 15px;
        text-decoration: none;
        transition: box-shadow 0.2s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.border_countries {
    margin-top: 50px;
    display: flex;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        margin-top: 20px;
    }

    &_title {
        display: block;
        line-height: 40px;
        min-width: max-content;
    }
}

.borderCountriesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}