.root {
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s linear;
    overflow: hidden;

    &:hover {
        transform: scale(1.02);
    }
}

.inner {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.flag {
    aspect-ratio: 3/2;
    object-fit: cover;

    &_skeleton {
        aspect-ratio: 3/2;
        height: auto;
        width: 100%;
    }

    &__hide {
        display: none;
    }
}

.info {
    flex-grow: 1;
    padding: 25px 20px;
    text-align: left;
    background-color: white;
}

.name {
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.stats {
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 12px;
}

.value {
    cursor: pointer;
    font-weight: 300;
    margin-left: 5px;
}